<div class="container-fluid p-3">
    <div class="card">
        <div class="card-header text-center text-white fw-bold fs-3 p-3" style="background-color: rgb(102, 47, 144);">
            Angular Topics
        </div>
        <div class="card-body" style="background-color: antiquewhite;">
            <div class="row justify-content-around g-3 p-3">
                <div class="card bg-primary-subtle" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title fw-bold fs-6">@Input</h5>
                        <p class="card-text">Parent to Child Communication</p>
                        <button class="btn btn-primary" (click)="onInputDemo()">Demo</button>
                    </div>
                </div>
                <div class="card bg-secondary-subtle" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title fw-bold fs-6">@Output</h5>
                        <p class="card-text">Child to Parent Communication</p>
                        <button class="btn btn-secondary" (click)="onOutputDemo()">Demo</button>
                    </div>
                </div>
                <div class="card bg-success-subtle" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title fw-bold fs-6">@ViewChild</h5>
                        <p class="card-text">Child to Parent Communication</p>
                        <button class="btn btn-success" (click)="onViewChildDemo()">Demo</button>
                    </div>
                </div>
                <div class="card bg-danger-subtle" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title fw-bold fs-6">Services</h5>
                        <p class="card-text">Data Sharing between unrelated Components</p>
                        <button class="btn btn-danger" (click)="onServiceDemo()">Demo</button>
                    </div>
                </div>
                <div class="card bg-warning-subtle" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title fw-bold fs-6">LifeCycle Hooks</h5>
                        <p class="card-text">Angular LifeCycle stages</p>
                        <button class="btn btn-warning" (click)="onLifeCycleDemo()">Demo</button>
                    </div>
                </div>
                <div class="card bg-info-subtle" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title fw-bold fs-6">Directives</h5>
                        <p class="card-text">Structural/Attribute/Custom Directives</p>
                        <button class="btn btn-info" (click)="onDirectiveDemo()">Demo</button>
                    </div>
                </div>
                <div class="card bg-light-subtle" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title fw-bold fs-6">Pipes</h5>
                        <p class="card-text">Pure vs Impure Pipes & Default/Custom Pipes</p>
                        <button class="btn btn-dark" (click)="onPipesDemo()">Demo</button>
                    </div>
                </div>
                <div class="card bg-dark-subtle" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title fw-bold fs-6">Pipes</h5>
                        <p class="card-text">Pure vs Impure Pipes & Default/Custom Pipes</p>
                        <button class="btn btn-outline-dark" (click)="onInputDemo()">Demo</button>
                    </div>
                </div>
                <div class="card bg-body-secondary" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title fw-bold fs-6">Pipes</h5>
                        <p class="card-text">Pure vs Impure Pipes & Default/Custom Pipes</p>
                        <button class="btn btn-secondary" (click)="onInputDemo()">Demo</button>
                    </div>
                </div>
                <div class="card bg-black" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-white fw-bold fs-6">Pipes</h5>
                        <p class="card-text text-white">Pure vs Impure Pipes & Default/Custom Pipes</p>
                        <button class="btn btn-light" (click)="onInputDemo()">Demo</button>
                    </div>
                </div>
                <div class="card bg-black" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-white fw-bold fs-6">Pipes</h5>
                        <p class="card-text text-white">Pure vs Impure Pipes & Default/Custom Pipes</p>
                        <button class="btn btn-light" (click)="onInputDemo()">Demo</button>
                    </div>
                </div>
                <div class="card bg-black" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-white fw-bold fs-6">HTML Basic Tags</h5>
                        <p class="card-text text-white">Overview on Basic HTML controls</p>
                        <button class="btn btn-light" (click)="onHTMLDemo()">Demo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>