<div class="container-fluid p-3">
    <div class="card">
        <div class="card-header text-center text-white fw-bold fs-3 p-3" style="background-color: rgb(122, 54, 40);">
            LifeCycle Hooks
        </div>
        <div class="card-body" style="background-color: aliceblue;">
            <div class="row justify-content-around g-3 p-3">
                <div class="card bg-info-subtle" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title fw-bold fs-6">Lifecycle of Component</h5>
                        <p class="card-text">A demo on Lifecycle hooks in a component</p>
                        <button class="btn btn-info" (click)="isChildMount=!isChildMount">Mount/UnMount
                            Component</button>
                    </div>
                </div>
                <div class="card bg-success-subtle" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title fw-bold fs-6">ngOnInit & ngOnDestroy Hooks</h5>
                        <p class="card-text">Example of ngOnInit & ngOnDestroy Hooks using Timer Component</p>
                        <button class="btn btn-success" (click)="onTimerClick()">Toggle Timer
                            Component</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<!-- 
<div class="container-fluid p-5">
    <div class="card">
        <div class="card-header text-center bg-success-subtle fw-bold fs-3">
            Parent Component
        </div>
        <div class="card-body bg-light">
            <div class="row">
                <div class="col-md-4">
                    <label for="input4FirstName" class="form-label">Message
                    </label>
                    <input type="text" class="form-control" id="input4FirstName" [(ngModel)]='message'>
                </div>
                <div class="col-md-4">
                    <label for="input4FirstName" class="form-label">Code
                    </label>
                    <input type="text" class="form-control" id="input4FirstName" [(ngModel)]='code'>
                </div>
                <div class="col-md-4">
                    <label for="input4FirstName" class="form-label">Name
                    </label>
                    <input type="text" class="form-control" id="input4FirstName" [(ngModel)]='name'>
                </div>
            </div>
        </div>
        <div class="card-footer d-grid gap-2 d-md-flex justify-content-md-end bg-success-subtle p-3">
            <button class="btn btn-success" (click)="updateCustomer()">Update </button>
        </div>
    </div>
</div>
<app-lifecyclehooks [message]="message" [customer]="customer"></app-lifecyclehooks> -->

<!-- <div class="container-fluid p-5">
    <div class="card">
        <div class="card-header text-center text-white bg-dark fw-bold fs-3">
            <h2 class="fw-bold fs-3">ngOnInit/ngOnDestroy</h2>
        </div>
        <div class="card-body bg-light">
            <div class="row">
                <div class="col-md-4">
                    <label for="input4FirstName" class="form-label">Counter
                    </label>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-info" (click)="isChildMount=!isChildMount">Toggle Timer</button>
                </div>
            </div>
        </div>
    </div>
</div> -->
<app-ng-on-init-on-destroy *ngIf="isTimerMount"></app-ng-on-init-on-destroy>

<app-nghooks *ngIf="isChildMount" [title]="titlename"></app-nghooks>