<div class="container-fluid p-5">
    <div class="card">
        <div class="card-header text-center text-white bg-dark fw-bold fs-3 p-3">
            Timer Component
        </div>
        <div class="card-body p-3 bg-light">
            <div class="row g-3 p-3 justify-content-md-center">
                <div class="text-center col-md-4">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-dark fw-bold fs-3">Timer Log</li>
                        <li class="list-group-item list-group-item-info" *ngFor="let item of arr;"> {{ item }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>