<div class="container vh-100" style="width: 500px;">
    <div class="row justify-content-center h-100">
        <div class="card my-auto shadow bg-success-subtle">
            <div class="card-body px-5">
                <div class="text-center">
                    <h2>Welcome</h2>
                    <small>Please Enter your login credentials</small>
                </div>
                <br />

                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="username"
                        placeholder="Enter email">
                </div>
                <br />

                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="password"
                        placeholder="Password">
                </div>
                <br />

                <button class="btn btn-primary w-100" (click)="onClickLogin()">Login</button>


            </div>
            <div class="card-footer text-center">
                <a routerLink="../forgot-password">Forgot Password</a>
            </div>
        </div>
    </div>
</div>